:root {
  --radius: 4px;
  --orange: #d4421e;
  --white: #ffffff;
  --bule: #81b1dd;
  --gray: #a0a0a0;
  --graywhite: #f0f0f0;
}
html {
  overflow-y: hidden;
}
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}
input:focus-visible,
input:focus {
  outline: none !important;
}
.container {
  display: flex;
}
.container .content {
  flex: 1 1 auto;
  background-color: #f0f0f0;
  height: 100vh;
  overflow-y: auto;
}
.container .cart {
  flex: 0 0 300px;
  padding: 40px;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}
.container .content .nav {
  position: sticky;
  top: 0;
  background-color: #f0f0f0;
  z-index: 10;
  padding: 40px 40px 32px 40px;
}
#productList {
  padding: 0 40px 40px 40px;
}
#searchForm input {
  width: calc(100% - 200px);
  max-width: 520px;
  height: 50px;
  border: none;
  border-radius: 5px 0 0 5px;
  padding-left: 14px;
  padding-right: 0;
}
#searchForm #btnSearch {
  width: 140px;
  height: 50px;
  border-radius: 0 5px 5px 0;
  border: none;
  background: #d4421e;
  color: white;
  padding-left: 0;
  margin-left: -2px;
}
#searchForm #btnSearch:hover {
  background: #fff;
  color: #d4421e;
  border: 1px solid #d4421e;
}
#btnFilter {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 0%;
  float: right;
  color: black;
  border: none;
}

#categoryList {
  width: 100%;
  overflow-x: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
  display: flex;
}
#categoryList::-webkit-scrollbar {
  display: none;
}
#categoryList > div {
  background-color: white;
  padding: 5px 14px;
  margin: 20px 10px 0;
}
#categoryList > div.active {
  background-color: var(--bule);
  color: white;
}
#categoryList > div:first-child {
  margin-left: 0;
}

.user-order {
  padding-bottom: 300px;
  position: relative;
}
/* ---------------- */

.profile-user {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.edit-profile {
  background-color: #81b1dd;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  font-size: 25px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.user i {
  margin-right: 15px;
  color: #fff;
  font-size: 30px;
}
.bill {
  display: flex;
  margin: 0 14px;
}

.bill-item {
  flex-direction: column;
}

.bill-item h4 {
  margin: 0;
}
.bill-item p {
  color: var(--gray);
  margin: 5px 0;
}
.price h4 {
  margin: 0;
}
.price p {
  margin: 5px 0;
}

.price:last-child {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-left: auto;
}

.price p {
  color: var(--gray);
}

hr {
  margin: 20px 40px;
}

.addCode {
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
.add-voucher {
  border: 1px dashed var(--gray);
  color: var(--gray);
  margin-bottom: 24px;
  width: 300px;
}

.add-voucher,
.btn {
  padding: 10px 0;
  text-align: center;
}

.add-voucher:hover {
  border: 1px solid #d4421e;
  color: #d4421e;
}

.btn {
  background-color: #d4421e;
  color: #fff;
  border: none;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #d4421e;
  color: #d4421e;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.card-title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  margin-top: 5px;
}
.card-text {
  margin: 0;
  color: #d4421e;
}
.btn-glyphicon {
  padding: 8px;
  background: #ffffff;
  margin-right: 4px;
}
.icon-btn {
  padding: 1px 15px 3px 2px;
  border-radius: 50px;
}
.navFt {
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.uk-grid-small > div {
  padding-left: 24px;
}
.uk-grid-small > div.uk-first-column {
  padding-left: 15px;
}
